{% extends 'base.html' %}

{% load humanize %}

{% block content %}

    {% if allow_editing %}
    {#  New twicle form  #}
    <div class="row">
        <div class="col-md-12">

            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {{ form_new_twicle.as_table }}
                <button type="submit" name="form_info" class="btn btn-default"/>
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </form>
        </div>
    </div>
    {% else %}
        <div class="row">
            <div class="col-md-12">
                <a href="{% url 'twicles:follow' user_shown %}">Seguir</a>
            </div>
        </div>
    {% endif %}

    {#  Twicles  #}

    <div class="row">

        {#  Twicle list container  #}
        <div class="col-md-12">
            {% for twicle in last_twicles %}
                <div class="row">

                        {% if twicle.image %}
                            <div class="col-md-8">
                                {{ twicle.text }} | {{ twicle.created | naturaltime }}
                            </div>
                            <div class="col-md-4">
                                <a href="{{ twicle.image.url }}" class="thumbnail">
                                    <img src="{{ twicle.image.url }}" class="img-thumbnail" />
                                </a>
                            </div>
                        {% else %}
                            <div class="col-md-12">
                                {{ twicle.text }} | {{ twicle.created | naturaltime }} {# TODO: reemplazarlo a pata porque se ve raro! #}
                            </div>
                        {% endif %}

                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}